# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Generated plugin registries
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Platform builds
android/
ios/
linux/
macos/
windows/
web/
